/* Calendar appearance */
.title {
  text-align: center;
  margin: 10px;
}

.calendar {
  width: 99%;
  height: 50%;
  margin: auto;
  font-size: 13px;
  border-collapse: collapse; /* Ensures borders don't overlap */
}

.calendar tr, .calendar td {
  border: 2px solid #8C8C8C;  /* Set border color to white */
}

.calendar th {
  padding: 10px;
  text-align: center;
  font-size: 18px;
  color: white; /* White text for column headers */
  background-color: #17a2b8; /* Blue background for headers */
}

.calendar td {
  width: 200px;
  height: 85px;
  padding: 20px 0px 0px 5px;
  background-color: #ffffff; /* Blue background for calendar cells */
  color: white; /* White text inside the calendar cells */
  text-align: left; /* Center-align text in cells */
}

/* Set white for text content in cells */
.calendar .date, .calendar .event {
  color: rgb(0, 0, 0); /* White text for dates and events */
}

body {
  font-family: "ptsans", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #ffffff; /* Dark background for the body */
  color: rgb(0, 0, 0); /* White text globally */
}

.month {
  font-size: 25px;
  color: white; /* White text for month title */
}

.date {
  font-size: 16px;
  color: white; /* White text for individual dates */
}

ul {
  height: 100%;
  padding: 0px 5px 0px 20px;
}

a {
  color: #17a2b8;
}