{% extends 'eventcalendar/base.html' %}
{% load widget_tweaks %}
{% block content %}

<!--Card Format-->
<div class="row justify-content-center">
  <div class="col-md-10">  <!-- Increase md to increase card width. -->
  <div class="card mb-4 shadow-lg rounded">
    <div class="text-white text-center rounded-top" style="background: linear-gradient(to right, #17a2b8,rgb(186, 236, 244)); height: 75px; display: flex; align-items: center; justify-content: center;">
      <h1 class="mb-0" style="font-size: 25px;">Modify or Delete an Event</h1>
    </div>

<br/>

<!--Error Checking-->
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                {{ field.label }} <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

<!--Edit Event Form-->
<form method="post">
  {% csrf_token %}

  <div class="mb-3">
    <strong><label for="id_name" class="form-label">&emsp;{{ form.name.label }}<span style="color: red;">*</span></label></strong>
    {{ form.name|add_class:"form-control" }}
  </div>

  <div class="mb-3">
    <strong><label for="id_start_time" class="form-label">&emsp;{{ form.start_time.label }}<span style="color: red;">*</span></label></strong>
    <p class="card-text"><small class="text-muted">&emsp;Format: MM/DD/YYYY HH:MM:SS</small></p>
    {{ form.start_time|add_class:"form-control" }}
  </div>

  <div class="mb-3">
    <strong><label for="id_end_time" class="form-label">&emsp;{{ form.end_time.label }}<span style="color: red;">*</span></label></strong>
    <p class="card-text"><small class="text-muted">&emsp;Format: MM/DD/YYYY HH:MM:SS</small></p>
    {{ form.end_time|add_class:"form-control" }}
  </div>

  <div class="mb-3">
    <strong><label for="id_location" class="form-label">&emsp;{{ form.location.label }}</label></strong>
    {{ form.location|add_class:"form-control" }}
  </div>

  <div class="mb-3">
    <strong><label for="id_description" class="form-label">&emsp;{{ form.description.label }}</label></strong>
    {{ form.description|add_class:"form-control" }}
  </div>

  <!-- Centering Submit and Delete buttons -->
  <div class="d-flex justify-content-center gap-3 mb-3">
    <button type="submit" class="btn" style="background-color: #17a2b8; color: white;">Modify</button></form>
    
    <form action="{% url 'event_delete' event.id %}" method="get">
    <button type="submit" class="btn btn-danger">Delete</button>
    </form>
    
  </div>
</div></div></div>

{% endblock %}
