{% extends 'eventcalendar/base.html' %}

{% block title %}
Event
{% endblock %}

{% block content %}
<div class="clearfix">
  <center><strong><h1 style="font-size: value;"> Create an Event </h1></strong></center>
</div>

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                {{ field.label }} <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            {{ field.label }} <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

<form method="post">
  {% csrf_token %}
    

    {{ form.name.label_tag }} {{ form.name }}<br/>
    {{ form.start_time.label_tag }} {{ form.start_time }}<br/>
    {{ form.end_time.label_tag }} {{ form.end_time }}<br/>
    {{ form.location.label_tag }} {{ form.location }}<br/>
    {{ form.description.label_tag }} {{ form.description }}<br/>

    <tr><td colspan="2"><button type="submit" class="btn btn-info right"> Submit </button></td></tr>
</form>
{% endblock %}