<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #000000; padding: 5px 10px;">
  <div class="container-fluid">
    
      <!-- Left Brand; Used calendar icon to go back to home. -->
      <a class="navbar-brand" href="{% url 'calendar' %}" style="padding-top: 5px; padding-bottom: 5px;"><i class="fa fa-calendar" style="font-size:24px; color:red"></i></a>

      <!-- Navbar Toggler for Mobile View -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
          <!-- Left-aligned navigation links -->
          <ul class="navbar-nav me-auto mb-0">
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'event_list' %}" style="padding-top: 5px; padding-bottom: 5px;">All Events</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'event_new' %}" style="padding-top: 5px; padding-bottom: 5px;">Add Event</a>
              </li>
          </ul>

          <!-- Right-aligned: Logout and Search -->
          <ul class="navbar-nav ms-auto mb-0">
              <li class="nav-item">
                  {% if request.user.is_authenticated %}
                      <a class="nav-link" href="{% url 'logout' %}" style="padding-top: 5px; padding-bottom: 5px; color:rgb(255, 0, 0);">Logout&nbsp;</a>
                  {% else %}
                      <a class="nav-link text-white me-2" href="{% url 'login' %}" style="padding-top: 5px; padding-bottom: 5px; color:rgb(255, 0, 0);">Login</a>
                  {% endif %}
              </li>
              <li class="nav-item">
                    <form class="d-flex" method="GET" action="{% url 'event_list' %}">
                        <input class="form-control form-control-sm me-2" type="search" name="q" placeholder="Search events..." aria-label="Search">
                        <button class="btn btn-outline-info btn-sm" type="submit" style="border-color: #17a2b8; color: #17a2b8;">Search</button>
                    </form>
              </li>
          </ul>
      </div>
  </div>
</nav>
